<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <style>

.navbar-fixed-bottom {
background-color: #f8f8f8;
box-shadow: 0px 0px 5px darkgray;
}

.navbar-fixed-bottom .btn {
padding: 10px;
background-color: #f8f8f8;
border: 1px solid black;
border-radius: 0px;
font-weight: 400;
}

.enqueue-form-customer .col-xs-2 {
padding-right: 25px;
}

svg {
  background-color: red !important;
}

.enqueue-form-host .col-xs-2 select {
margin-top: -3px;
}

.enqueue-form-host .col-xs-4 input {
margin-top: -1px;
}

.profile-stats {
  padding-top: 1px;
}

.profile-stats p {
font-size: 12px;
font-weight: 500;
margin-top: 13px;
}

body {
padding-top: 30px;
}

* {
font-family: 'Roboto', sans-serif !important;
}

.fa {
font-family: 'FontAwesome' !important;
}

h3 {
margin: 0px !important;
}

.right-align {
text-align: right;
}

.left-align {
text-align: left;
}

h6 {
margin: 0px !important;
}

.row {
margin-top: 20px; margin-bottom: 20px;
}


.center {
text-align: center;
}

.number {
font-size: 30px;
}

.navbar {
border: none;
border-radius: 0px;
z-index: 1000;
margin-bottom: 0px;
}

.modal-sm.modal-dialog {
margin-top: 50%;
}

.modal-body {
text-align: center;
margin-bottom: 0px;
font-weight: 900;
font-size: 20px;
}

.modal-footer {
border-top: 1px solid black;
border-radius: 0px;
padding: 10px;
}

.modal-body-btn {
background-color: #ffffff;
font-weight: 400;
}

.navbar-brand {
color: black !important;
}

.header * {
color: black !important;
}

#firstName, #phoneNumber {
width: 70px;
border: none;
}

#partySize {
margin-left: -5px;
}

.queue-list {
margin-top: 15px;
}

.queue-stats .container, .party-stats .container {
padding: 0px !important;
padding-top: 3px !important;
margin: 0px 15px !important;
border-top: 1px solid black;
width: inherit;
}

.map {
position: fixed !important;
padding-bottom: 0px !important;
padding-top: 0px !important;
margin-left: -15px !important;
margin-top: -130px !important;
}

.navbar-right {
float: right;
padding-right: 15px;
}

a {
color: black;
border: none;
}

.img-circle {
display: inline-block;
}

.user-info {
padding-left: 10px; display: inline-block; vertical-align: middle;
}

.user-info-email {
color: black;
}

.account * {
  background-color: #f8f8f8;
}

.account .row {
  padding: 11px 0px;
  margin-top: 15px !important;
  margin-bottom: 0px;
}

.account .form-inline {
  margin-top: -4px;
}

.phone-input {
border: none;
box-shadow: none;
padding-top: 4px;
vertical-align: text-bottom;
}

.navbar-text a {
  font-weight: 900 !important;
}

.input-group {
width: 98%;
}

a h6 {
  text-decoration: underline;
}

.queue-list-container {
  width: inherit;
}

.queue-list-header {
  padding: 11px 0px !important;
  font-weight: 900 !important;
}

.queue-list-header * {
  font-weight: 700 !important;
}

.queue-list .row {
  background-color: #f8f8f8;
  padding: 10px 0px;
  margin-top: 0px; margin-bottom: 15px;
}

.queue-list .row:last-child {
  padding-bottom: 10px;
}

.queue-list .col-xs-1, .enqueue-form-host .col-xs-1 {
  padding-left: 0px;
}

.enqueue-form-host {
  margin-top: 5px;
  padding: 9px 0px 8px 0px;
  background-color: #f8f8f8;
}

.enqueue-form-host * {
  background-color: #f8f8f8;
  vertical-align: text-bottom;
}

.input-group * {
border: none;
border-bottom: 1px solid black;
border-radius: 0px;
box-shadow: none;
}

.btn-enter-update {
border: none;
color: black;
padding: 4px 10px 1px 10px;
}

.view-toggle {
margin-right: 15px;
}

.view-toggle * {
margin: 0px;
padding: 0px;
border: none;
background-color: #f8f8f8 !important;
}

.alert-danger {
  margin: 0px; padding: 0px;
  background-color: transparent;
  border: none;
}

.green {
  color: limegreen !important;
  margin-bottom: -2px;
}

.red {
  color: red !important;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

  </style>
</head>
<body>
<div class="container">
