<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <style>

      .panel {

      }

      .navbar-fixed-bottom {
        margin: 0 15px 15px 15px;
        background-color: transparent;
      }

      .navbar-fixed-bottom .btn {
         padding: 10px;
         background-color: #f8f8f8;
         border-radius: 100px;
         border: none;
         box-shadow: 0px 0px 10px #c2c2c2;
       }


      body {
        padding-top: 30px;
      }

      * {
        font-family: 'Rubik', sans-serif !important;
      }

      .fa {
        font-family: 'FontAwesome' !important;
      }

      h3 {
        margin: 0px !important;
      }

      .right-align {
        text-align: right;
      }

      h6 {
        margin: 0px !important;
      }

      .row {
        margin-top: 20px; margin-bottom: 20px;
      }


      .center {
         text-align: center;
       }

      .number {
         font-size: 30px;
       }

      .navbar {
        border: none;
        z-index: 1000;
        margin-bottom: 0px;
       }

       .navbar-brand {
         color: black !important;
       }

       .header {
         box-shadow: 0px 0px 10px #c2c2c2;
       }

       .header * {
         color: black !important;
       }

       .nav {
         /*margin: 0px !important;*/
       }

       #firstName, #phoneNumber {
         width: 80px;
         border: none;
       }

       #partySize {
         margin-left: -5px;
       }

       .queue-list-header h6 {
       }

       .queue-stats {
       }

       .queue-stats .container {
         padding: 0px !important;
         padding-top: 3px !important;
         margin: 0px 15px !important;
         border-top: 1px solid black;
         width: inherit;
       }

      .map {
        position: fixed !important;
        padding-bottom: 0px !important;
        padding-top: 0px !important;
        margin-left: -15px !important;
        margin-top: -154px !important;
      }

      .navbar-right {
         float: right;
         padding-right: 15px;
       }

      a {
         color: black;
         border: none;
       }

      .img-circle {
         display: inline-block;
       }

      .user-info {
         padding-left: 10px; display: inline-block; vertical-align: middle;
       }

      .user-info-email {
         color: darkgray
       }

      .phone-input {
         width: 160px;
       }


       .input-group {
         width: 98%;
       }

       .input-group * {
         border: none;
         border-bottom: 1px solid darkgray;
         border-radius: 0px;
         box-shadow: none;
       }

       .btn-enter-update {
         border: none;
         color: black;
         padding-right: 8px;
        }

        .view-toggle {
          margin-right: 15px;
        }

        .view-toggle * {
          margin: 0px;
          padding: 0px;
          border: none;
          background-color: #f8f8f8 !important;
        }


  </style>
</head>
<body>
<div class="container">
