<% include head.ejs%>

<% if (message.length) { %>
  <div class="alert alert-danger">
    <%= message %>
  </div>
<% } %>

<div class="header">
  <nav class="navbar navbar-default">
    <div class="container">
        <p class="navbar-text"> <a href="/">Q</a> </p>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Welcome to <br> Queue</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Log in to Queue up.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <a href="/host">
        <h6>Looking for Queue Host?</h6>
      </a>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="/auth/facebook">
          <button type="button" class="btn btn-default btn-block">
              Log in with Facebook
          </button>
        </a>
      </div>
      <div class="col-xs-6">
        <a href="/auth/google">
          <button type="button" class="btn btn-default btn-block">
              Log in with Google
          </button>
        </a>
      </div>
      </div>
    </div>
  </div>
</nav>

<% include foot.ejs%>
