<% include head.ejs%>

  <div class="header">
    <nav class="navbar navbar-default">
      <div class="container">
          <p class="navbar-text"> <a href="/">Q</a> </p>
          <p class="navbar-text navbar-right">
            <% if (user.phone) { %> <a href="/">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
            </a> <% } %>
          </p>
      </div>
    </nav>
    <% if (user.phone) { %>
      <nav class="queue-stats profile-stats navbar navbar-default">
        <div class="container">
            <p class="navbar-text">
               <%= user.display %>
            </p>
        </div>
      </nav>
    <% } %>
  </div>

    <% if (user.email && !user.phone) { %>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h1>Let's get started!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <h4>Enter your phone number.</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form action="/phone" method="post" class="form-inline">
              <div class="row text-center">
                <div class="col-xs-12">
                  <div class="form-group login">
                    <div class="input-group">
                      <input type="text" class="form-control text-center email" id="phone" name="phone" placeholder="Phone number">
                    </div>
                  </div>
                </div>
            </div>

              <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <button type="submit" class="btn btn-default btn-block">
                        Continue
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>

        </form>
      </div>






    <% } else { %>
      <div class="container account">

        <div class="row">
          <div class="col-xs-4">
            <h6>
              <%= user.email %>
            </h6>
          </div>
        </div>

      <div class="row">
        <form action="/phone" method="post" class="form-inline">
            <div class="col-xs-8">
              <h6>
                <input type="text" class="phone-input" id="phone" name="phone" value="<%= user.phone %>" placeholder="Phone number">
              </h6>
            </div>
            <div class="col-xs-4 right-align">
              <h6>
                <button type="submit" class="btn-enter-update">Update</button>
              </h6>
            </div>
        </form>
      </div>




    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a href="/logout">
              <button type="button" class="btn btn-default btn-block">
                  Logout
              </button>
            </a>
          </div>
        </div>
      </div>
    </nav>
  <% } %>

<% include foot.ejs%>
