<% include head.ejs%>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">Q</a>
        <p class="navbar-text navbar-right">
          <% if (user.phone) { %> <a href="/">See Queues</a> <% } %>
          <!-- <a href="/logout"> Logout </a> -->
        </p>
      </ul>
    </div>
  </nav>

<div class="container">

    <% if (user.email && !user.phone) { %>
        <h1> Welcome to Queue. </h1>
        <h3> Please enter your number to get started. </h3>
        <form action="/phone" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="phone">
            </div>
            <button type="submit" class="btn btn-warning btn-lg">Enter</button>
        </form>
    <% } else { %>
      <div class="row">
        <div class="col-xs-12">
          <h1> Your account </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image"
            width="60" height="60">
          <div class="user-info">
            <div class="user-info-name">
              <%= user.display %>
            </div>
            <div class="user-info-email">
              <%= user.email %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form action="/phone" method="post" class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" id="phone" name="phone" value="<%= user.phone %>" placeholder="Phone number">
                <div class="input-group-addon">
                  <button type="submit" class="btn-enter-update">
                    Update Number
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default btn-block">
                <a href="/logout">
                  Logout
                </a>
              </button>
            </div>
          </div>
        </div>
      </nav>
      <% } %>
</div>

<% include foot.ejs%>
