<% include head.ejs%>

  <div class="header">
    <nav class="navbar navbar-default">
      <div class="container">
          <p class="navbar-text"> <a href="/">Q</a> </p>
          <p class="navbar-text navbar-right">
            <% if (user.phone) { %> <a href="/">
              <i class="fa fa-list-ol" aria-hidden="true"></i>
            </a> <% } %>
          </p>
      </div>
    </nav>
    <nav class="queue-stats profile-stats navbar navbar-default">
      <div class="container">
          <p class="navbar-text">
             <%= user.display %>
          </p>
      </div>
    </nav>
  </div>

    <% if (user.email && !user.phone) { %>
      <div class="container">

        <div class="row">
          <div class="col-xs-12">
            <h1> Welcome to Queue. </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h4> Whats your number?</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <form action="/phone" method="post" class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" id="phone" name="phone" value="<%= user.phone %>" placeholder="Phone number">
                  <div class="input-group-addon">
                    <button type="submit" class="btn-enter-update">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    <% } else { %>
      <div class="container account">

        <div class="row">
          <div class="col-xs-4">
            <h6>
              <%= user.email %>
            </h6>
          </div>
        </div>

      <div class="row">
        <form action="/phone" method="post" class="form-inline">
            <div class="col-xs-8">
              <h6>
                <input type="text" class="phone-input" id="phone" name="phone" value="<%= user.phone %>" placeholder="Phone number">
              </h6>
            </div>
            <div class="col-xs-4">
              <h6>
                <button type="submit" class="btn-enter-update">Update</button>
              </h6>
            </div>
        </form>
      </div>




    </div>
      <% } %>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <a href="/logout">
                <button type="button" class="btn btn-default btn-block">
                    Logout
                </button>
              </a>
            </div>
          </div>
        </div>
      </nav>

<% include foot.ejs%>
